.header {
	min-height: var(--header-height);
	background-color: var(--bg-header);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: var(--primary-padding);
	padding-right: var(--primary-padding);

	&__item {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		gap: var(--primary-gap);

		&__avatar {
			height: 50px;
			width: 50px;
			border-radius: 999px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__item > h2,
	span {
		color: var(--white-color);
	}
}
