.historyElement {
	display: flex;
	height: 43px;
	width: 100%;

	&__item {
		border: 1px solid var(--bg-border);
		display: flex;
		align-items: center;
		justify-content: start;
		padding-left: var(--primary-padding);
	}

	&__date {
		width: 5%;
	}

	&__description {
		width: 50%;
	}

	&__category {
		width: 25%;
	}

	&__spent {
		width: 10%;
	}

	&__remaining {
		width: 10%;
	}
}
