.aside {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-aside);
}

.aside > a {
	height: 50px;
	text-align: start;
	text-decoration: none;
	color: var(--white-color);
	display: flex;
	align-items: center;
	padding: var(--primary-padding);
}

.aside > a:hover {
	background-color: var(--bg-select);
}

.aside > a.active {
	background-color: var(--bg-select);
	color: var(--select-color);
}
