* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

:root {
	--bg-header: #4a4e58;
	--bg-aside: #485466;
	--bg-select: #383a42;
	--bg-primary: #ebedf0;
	--bg-border: #dadee0;
	--primary-color: #485466;
	--secondary-color: #93a1b3;
	--white-color: #ffffff;
	--select-color: #1aa1c2;
	--primary-gap: 10px;
	--primary-padding: 10px;
	--header-height: 70px;
	--aside-width: 158px;
	--primary-radius: 8px;
}

body {
	width: 100vw;
}
